<ion-content>
  <form [formGroup]="form" (ngSubmit)="logear()">
    <div class="input-group">
      <ion-item>
        <ion-input type="text" placeholder="Correo" formControlName="correo" required  autocomplete="off"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [type]="passwordType" placeholder="Contraseña" formControlName="contraseña" required autocomplete="new-password"
          clearOnEdit="false"></ion-input>
        <ion-icon slot="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
      </ion-item>
    </div>
    <ion-button type="submit" color="danger" expand="block" [disabled]="!form.valid">Iniciar sesión</ion-button>
    <!-- <a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a> -->
    <ion-button type="button" expand="block" color="light" fill="clear">Inscribirse!</ion-button>

    <!-- <ion-button type="button" expand="block" color="tertiary">
      <ion-icon name="logo-google" slot="start"></ion-icon>
      Sign in with Google
    </ion-button>
    <ion-button type="button" expand="block" color="tertiary">
      <ion-icon name="logo-apple" slot="start"></ion-icon>
      Sign in with Apple
    </ion-button> -->
  </form>
</ion-content>